.col-md-1 {
  float: left;
  display:block;
  position:absolute;
}


.col-md-1:before{
  z-index: 3;
  display:block;
  content:'';
  position:absolute;
}


.container img {
  position: fixed;
  top:25px;
  left:25px;
  height:200px;
}
#head_img{
  position: absolute;
  padding-top: 5%;
  padding-left: 5%;
  height: 180px;
  width: 180px;
}

#headtext {


}

.middle {

}
