/* .col-md-1 {
  border: solid red;
  float: left;
  display:block;
  position:fixed;
} */
#h1 {
  height: 200px;
}

.col-md-1:before{

  z-index: 3;
  display:block;
  content:'';
  position:fixed;
}


.head-container img {
  background-size: cover;
  position: absolute;
  top:0;
  left:25px;
  height:200px;
  width: 100%;
}

#headbg{
  left: 0px;
}
#head_img{
  position: absolute;
  top: 0;
  left: 10%;
  height: 200px;
  width: 200px;
}

#headtext {
  text-align: right;
  border: solid red;
  Position: absolute;
  color: white;
  Top:5%;
  right:25%;
}

.container-fluid{
  float:left;
}
